* {
    margin: 0;
    padding: 0;

}

.main {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
   border-radius: 10px;
    width: 700px;
    height: 300px;
    box-shadow: rgba(0, 0, 0, 0.3) 2px 12px 12px 12px;
}

.card-head {
    height: 50%;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding: 0px 15px;
    font-size: 19px;
    font-weight: 700;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.heading{
    text-align: center;
    padding: 10px 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.author-div {
    height: 10%;
    display: flex;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    justify-content: end;
    align-items: center;
    padding: 0 10px;
    font-size: 15px;
}

.card-footer {
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-div button {
    width: 100px;
    height: 40px;
    border: none;
    margin: 10px 10px;
    border-radius: 20px;
    background-color: rgb(3, 92, 193);
    font-size: 17px;
    color: white;
    cursor: pointer;
}

@media (max-width:400px) {
   .author-div{
    justify-content: center;
   }
}